body {
    background-image: url(../images/concrete_seamless.png);
    overflow: auto;
}

h1{
    font-family: 'Times New Roman', Times, serif;
}

nav,
p {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}
.name {
    position: relative;
    margin: -20px 0 0 -20px;
    padding: 0 20px 0 20px;
    background-color: #4aaaa5;
    color: #ffffff;
    height: 75px;
    float: left;
    text-align: center;
}
.navbar {
    margin: 0;
    padding: 10px;
    float: right;
}
a.link {
    text-decoration-line: none;
    color: #777777;
}
a.link:hover {
    font-weight: bold;
}
header {
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
    height: 75px;
    margin: -10px -10px 0 -10px;
}

.wrapper {
    width: 960px;
    padding: 20px;
    margin: 0 auto;
}
.main-wrapper {
    width: 960px;
    background-color: #ffffff;
    padding: 0 20px 0 20px;
    border: 2px solid #dddddd;
    margin: 0 auto;
    margin-top: 10px;
    overflow: auto;
    clear: both;
}
#bio-image {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    float: left;
  }
  footer {
    position: fixed;
    bottom: 0; 
    left: 0; 
    width: 100%;
    background-color: #666666;
    color: #ffffff;
    border-top: 5px solid #4aaaa5;
    height: 40px;
    text-align: center;
    font-size: x-small;
    z-index: 2;
}
.portfolio-image {
    position: relative;
    width: 300px;
    height: 200px;
    margin: 20px 30px 20px 0;
    float: left;
  }
div.portfolio-banner {
    position: absolute;
    width: 300px;
    height: 40px;
    background-color: #4aaaa5;
    color: #ffffff;
    padding-top: 15px;
    text-align: center;
    z-index: 1;
    margin-right: 0;
    margin-top: -75px;
}
div.portfolio-banner:hover {
    background-color: #4882B8;
}